<h1><%= file.path %></h1>

<table>
  <tr>
    <th>Lines</th>
    <th>Lines of code</th>
    <th>Methods</th>
    <th>Complexity</th>
    <th>Duplication</th>
  </tr>
  <tr>
    <td><%= file.lines %></td>
    <td><%= file.lines_of_code %></td>
    <td><%= file.methods %></td>
    <td><%= file.complexity %></td>
    <td><%= file.duplication %></td>
  </tr>
</table>

<%= code %>
