<h1><%= file.path %></h1>

<table>
  <tr>
    <th>Lines</th>
    <th>Lines of code</th>
    <th>Methods</th>
    <th>Complexity</th>
    <th>Duplication</th>
  </tr>
  <tr>
    <td><%= file.lines %></td>
    <td><%= file.lines_of_code %></td>
    <td><%= file.methods %></td>
    <td><%= file.complexity.total_score %></td>
    <td><%= file.duplication.total %></td>
  </tr>
</table>

<h2>Complexity hotspots</h2>
<% file.complexity.hotspots.each do |hotspot| %>
  <li>Complex method <em>#<%= hotspot.method_name %></em> on <a href="#n<%= hotspot.line_number %>">line <%= hotspot.line_number %></a></li>
<% end %>

<h2>Duplication report</h2>
<pre><%= file.duplication.report %></pre>

<h2>Source</h2>

<%= code %>
