<h1><%= file.path %></h1>

<table>
  <tr>
    <th>Lines</th>
    <th>Lines of code</th>
    <th>Methods</th>
    <th>Complexity</th>
    <th>Duplication</th>
  </tr>
  <tr>
    <td><%= file.lines %></td>
    <td><%= file.lines_of_code %></td>
    <td><%= file.methods %></td>
    <td><%= file.complexity.total_score %></td>
    <td><%= file.duplication.total_score %></td>
  </tr>
</table>

<% if file.complexity.hotspots.any? %>
  <h2>Complexity hotspots</h2>
  <% file.complexity.hotspots.each do |hotspot| %>
    <li><em>#<%= hotspot.method_name %></em> on <a href="#n<%= hotspot.line_number %>">line <%= hotspot.line_number %></a></li>
  <% end %>
<% end %>

<% if file.duplication.hotspots.any? %>
  <h2>Duplication hotspots</h2>
  <% file.duplication.hotspots.each do |hotspot| %>
    <h3><%= hotspot.heading %></h3>
    <% hotspot.line_numbers.each do |line_number| %>
      <li>on <a href="#n<%= line_number %>">line <%= line_number %></a></li>
    <% end %>
  <% end %>
<% end %>


<h2>Source</h2>

<%= code %>
