<h1><%= file.path %></h1>

<h2>Complexity report</h2>
<pre><%= file.complexity.report %></pre>

<h2>Duplication report</h2>
<pre><%= file.duplication.report %></pre>

<h2>Source</h2>

<table>
  <tr>
    <th>Lines</th>
    <th>Lines of code</th>
    <th>Methods</th>
    <th>Complexity</th>
    <th>Duplication</th>
  </tr>
  <tr>
    <td><%= file.lines %></td>
    <td><%= file.lines_of_code %></td>
    <td><%= file.methods %></td>
    <td><%= file.complexity.total %></td>
    <td><%= file.duplication.total %></td>
  </tr>
</table>

<%= code %>
